@import "tailwindcss";

@theme {
  @keyframes header-open {
    0% { transform: translateY(-500px); }
    100% { transform: translateY(0); }
  }
  @keyframes show-content {
    0% { transform: translateY(100px); filter: blur(10px); opacity: 0; }
    100% { transform: translateY(0); filter: blur(0); opacity: 1; }
  }
  @keyframes arrow-open {
    0% { transform: translateX(1500px); }
    100% { transform: translateX(0); }
  }
  @keyframes thumbnail-open {
    0% { transform: translateY(500px); }
    100% { transform: translateY(0); }
  }
    /* Animation Properties as CSS Custom Properties */
  --animate-header-open: header-open 0.5s ease-out forwards;
  --animate-show-content: show-content .5s.7s ease-in-out 1 forwards;
  --animate-arrow-open: arrow-open 1s ease forwards;
  --animate-thumbnail-open: thumbnail-open 0.8s ease forwards;

  --font-poppins: 'Poppins', sans-serif
}




